/* 颜色 */
$color-white: white;
$color-black: #333;
$color-theme: #4cd4c8;
$color-sub: #9affc8;
$color-gray: #787882;
$color-light: #fafafa;
$color-line: #f3f3f3;

/* 默认文字大小 */
$font-base: 26px;
$font-small: 18px;
$font-medium: 20px;
$font-large: 30px;
$font-oversized: 35px;
$font-little: 24px;
$font-weight: 700;

/* border defalut */
$border-defalut: 2px solid $color-line;

/* 页面初始样式 */
@mixin initPage($width:100%, $height:100%, $fontSize:$font-base) {
  width: $width;
  height: $height;
  overflow: hidden;
  overflow-y: auto;
  font-size: $fontSize;
  box-sizing: border-box;
}

/* 三角形 */

@mixin triangle {
  width: 0;
  height: 0;
  border-top: 10px solid $color-black;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}